In [ ]:
import pymysql
import pandas as pd

# MySQL 연결
conn = pymysql.connect(
    host='127.0.0.1',  # 내 컴퓨터에서 실행 중인 MySQL 서버
    user='root',        # MySQL 계정
    password='1111',  # root 계정 비밀번호
    db='1st',           # 사용할 데이터베이스 이름 (예: testdb, 1st 등)
    port=3306,          # 포트번호 (기본값 3306)
    charset='utf8'
)

# 커서 대신 pandas로 바로 읽기 (결과를 표로 보기 좋게)
sql = """
SELECT year, car_local, car_count, emp_count
FROM emergency_car
ORDER BY year, car_local;
"""

df = pd.read_sql(sql, conn)
print(df)

conn.close()

:

In [ ]:
import pymysql

# MySQL 연결
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',  # 사용할 DB 이름
    port=3306,
    charset='utf8'
)

cur = conn.cursor()
cur.execute("SHOW TABLES;")

# 결과 출력
tables = cur.fetchall()
print("DB table:")
for t in tables:
    print("-", t[0])

cur.close()
conn.close()

:

In [12]:
import pymysql
import pandas as pd

conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',
    port=3306,
    charset='utf8'
)

# 테이블 구조 확인
df_desc = pd.read_sql("DESC emergency_car;", conn)
print(df_desc)
df_descc = pd.read_sql("DESC emergency_move;", conn)
print(df_descc)
df_desccc = pd.read_sql("DESC emergency_ex;", conn)
print(df_desccc)
df_descccc = pd.read_sql("DESC emergency_faq;", conn)
print(df_descccc)

conn.close()

       Field         Type Null  Key Default           Extra
0        idx          int   NO  PRI    None  auto_increment
1       year    timestamp  YES         None
2  car_count          int  YES         None
3  emp_count          int  YES         None
4  car_local  varchar(50)  YES         None
        Field         Type Null  Key Default           Extra
0         idx          int   NO  PRI    None  auto_increment
1        year    timestamp  YES         None
2  move_count          int  YES         None
3  move_local  varchar(50)  YES         None
    Field         Type Null  Key Default           Extra
0     idx          int   NO  PRI    None  auto_increment
1    year    timestamp  YES         None
2   casue  varchar(50)  YES         None
3  gender  varchar(10)  YES         None
4   local  varchar(50)  YES         None
5     job  varchar(50)  YES         None
          Field          Type Null  Key Default           Extra
0           idx           int   NO  PRI    None  auto_increment
1  faq_question  varchar(255)  YES         None
2    faq_answer  varchar(255)  YES         None

C:\Users\Playdata\AppData\Local\Temp\ipykernel_16108\262444584.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_desc = pd.read_sql("DESC emergency_car;", conn)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16108\262444584.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_descc = pd.read_sql("DESC emergency_move;", conn)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16108\262444584.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_desccc = pd.read_sql("DESC emergency_ex;", conn)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16108\262444584.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_descccc = pd.read_sql("DESC emergency_faq;", conn)

In [ ]:
create_sql = """
CREATE TABLE emergency_car (
    idx INT AUTO_INCREMENT PRIMARY KEY,         
    year YEAR NOT NULL,                         
    car_count INT,                              
    emp_count INT,                              
    car_local VARCHAR(50) NOT NULL               
);
"""

In [ ]:
import pymysql
import pandas as pd

# MySQL 연결
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',
    port=3306,
    charset='utf8'
)

try:
    # 전체 데이터 조회 (연도와 지역별로 정렬)
    sql_all = """
    SELECT year, car_local, car_count, emp_count 
    FROM emergency_car 
    ORDER BY year, car_local;
    """
    df_all = pd.read_sql(sql_all, conn)
    print("🚑 전체 응급차량 데이터")
    print(df_all)
    print("\n총 데이터 수:", len(df_all))

finally:
    conn.close()  # 연결 종료

In [ ]:
import pymysql
import pandas as pd

# MySQL 연결
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',
    port=3306,
    charset='utf8'
)

try:
    # 특정 지역 데이터 조회
    region = input("조회할 지역을 입력하세요 (예: 서울, 부산, 대구 등): ")
    sql_region = f"""
    SELECT year, car_local, car_count, emp_count
    FROM emergency_car
    WHERE car_local = '{region}'
    ORDER BY year;
    """
    df_region = pd.read_sql(sql_region, conn)
    
    if len(df_region) > 0:
        print(f"\n📍 {region} 지역 응급차량 데이터")
        print(df_region)
        print(f"\n{region} 지역 데이터 수:", len(df_region))
    else:
        print(f"\n⚠️ {region} 지역의 데이터가 없습니다.")

finally:
    conn.close()  # 연결 종료

In [ ]:
# CSV 파일 읽어서 DB에 저장하기
import pandas as pd
import pymysql

# MySQL 연결
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',
    port=3306,
    charset='utf8'
)

try:
    cursor = conn.cursor()
    
    # 테이블 생성
    create_sql = """
    CREATE TABLE emergency_car (
        idx INT AUTO_INCREMENT PRIMARY KEY,
        year YEAR NOT NULL,
        car_count INT,
        emp_count INT,
        car_local VARCHAR(50) NOT NULL
    );
    """
    # 기존 테이블 삭제 후 새로 생성
    cursor.execute("DROP TABLE IF EXISTS emergency_car")
    cursor.execute(create_sql)
    
    # CSV 파일 읽기
    df = pd.read_csv('../csv/emergency_car.csv')  # CSV 파일 경로를 실제 파일 위치로 수정해주세요
    
    # DataFrame을 이용해서 데이터 삽입
    for index, row in df.iterrows():
        sql = """
        INSERT INTO emergency_car (year, car_count, emp_count, car_local)
        VALUES (%s, %s, %s, %s)
        """
        values = (row['year'], row['car_count'], row['emp_count'], row['car_local'])
        cursor.execute(sql, values)
    
    conn.commit()
    print("CSV 데이터가 성공적으로 데이터베이스에 저장되었습니다!")

except Exception as e:
    print("오류 발생:", e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()