In [ ]:
import pymysql
import pandas as pd

# MySQL ì—°ê²°
conn = pymysql.connect(
    host='127.0.0.1',  # ë‚´ ì»´í“¨í„°ì—ì„œ ì‹¤í–‰ ì¤‘ì¸ MySQL ì„œë²„
    user='root',        # MySQL ê³„ì •
    password='1111',  # root ê³„ì • ë¹„ë°€ë²ˆí˜¸
    db='1st',           # ì‚¬ìš©í•  ë°ì´í„°ë² ì´ìŠ¤ ì´ë¦„ (ì˜ˆ: testdb, 1st ë“±)
    port=3306,          # í¬íŠ¸ë²ˆí˜¸ (ê¸°ë³¸ê°’ 3306)
    charset='utf8'
)

# ì»¤ì„œ ëŒ€ì‹  pandasë¡œ ë°”ë¡œ ì½ê¸° (ê²°ê³¼ë¥¼ í‘œë¡œ ë³´ê¸° ì¢‹ê²Œ)
sql = """
SELECT year, car_local, car_count, emp_count
FROM emergency_car
ORDER BY year, car_local;
"""

df = pd.read_sql(sql, conn)
print(df)

conn.close()

:

In [ ]:
import pymysql

# MySQL ì—°ê²°
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',  # ì‚¬ìš©í•  DB ì´ë¦„
    port=3306,
    charset='utf8'
)

cur = conn.cursor()
cur.execute("SHOW TABLES;")

# ê²°ê³¼ ì¶œë ¥
tables = cur.fetchall()
print("DB table:")
for t in tables:
    print("-", t[0])

cur.close()
conn.close()

:

In [12]:
import pymysql
import pandas as pd

conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',
    port=3306,
    charset='utf8'
)

# í…Œì´ë¸” êµ¬ì¡° í™•ì¸
df_desc = pd.read_sql("DESC emergency_car;", conn)
print(df_desc)
df_descc = pd.read_sql("DESC emergency_move;", conn)
print(df_descc)
df_desccc = pd.read_sql("DESC emergency_ex;", conn)
print(df_desccc)
df_descccc = pd.read_sql("DESC emergency_faq;", conn)
print(df_descccc)

conn.close()

       Field         Type Null  Key Default           Extra
0        idx          int   NO  PRI    None  auto_increment
1       year    timestamp  YES         None
2  car_count          int  YES         None
3  emp_count          int  YES         None
4  car_local  varchar(50)  YES         None
        Field         Type Null  Key Default           Extra
0         idx          int   NO  PRI    None  auto_increment
1        year    timestamp  YES         None
2  move_count          int  YES         None
3  move_local  varchar(50)  YES         None
    Field         Type Null  Key Default           Extra
0     idx          int   NO  PRI    None  auto_increment
1    year    timestamp  YES         None
2   casue  varchar(50)  YES         None
3  gender  varchar(10)  YES         None
4   local  varchar(50)  YES         None
5     job  varchar(50)  YES         None
          Field          Type Null  Key Default           Extra
0           idx           int   NO  PRI    None  auto_increment
1  faq_question  varchar(255)  YES         None
2    faq_answer  varchar(255)  YES         None

C:\Users\Playdata\AppData\Local\Temp\ipykernel_16108\262444584.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_desc = pd.read_sql("DESC emergency_car;", conn)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16108\262444584.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_descc = pd.read_sql("DESC emergency_move;", conn)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16108\262444584.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_desccc = pd.read_sql("DESC emergency_ex;", conn)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_16108\262444584.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_descccc = pd.read_sql("DESC emergency_faq;", conn)

In [ ]:
create_sql = """
CREATE TABLE emergency_car (
    idx INT AUTO_INCREMENT PRIMARY KEY,         
    year YEAR NOT NULL,                         
    car_count INT,                              
    emp_count INT,                              
    car_local VARCHAR(50) NOT NULL               
);
"""

In [ ]:
import pymysql
import pandas as pd

# MySQL ì—°ê²°
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',
    port=3306,
    charset='utf8'
)

try:
    # ì „ì²´ ë°ì´í„° ì¡°íšŒ (ì—°ë„ì™€ ì§€ì—­ë³„ë¡œ ì •ë ¬)
    sql_all = """
    SELECT year, car_local, car_count, emp_count 
    FROM emergency_car 
    ORDER BY year, car_local;
    """
    df_all = pd.read_sql(sql_all, conn)
    print("ğŸš‘ ì „ì²´ ì‘ê¸‰ì°¨ëŸ‰ ë°ì´í„°")
    print(df_all)
    print("\nì´ ë°ì´í„° ìˆ˜:", len(df_all))

finally:
    conn.close()  # ì—°ê²° ì¢…ë£Œ

In [ ]:
import pymysql
import pandas as pd

# MySQL ì—°ê²°
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',
    port=3306,
    charset='utf8'
)

try:
    # íŠ¹ì • ì§€ì—­ ë°ì´í„° ì¡°íšŒ
    region = input("ì¡°íšŒí•  ì§€ì—­ì„ ì…ë ¥í•˜ì„¸ìš” (ì˜ˆ: ì„œìš¸, ë¶€ì‚°, ëŒ€êµ¬ ë“±): ")
    sql_region = f"""
    SELECT year, car_local, car_count, emp_count
    FROM emergency_car
    WHERE car_local = '{region}'
    ORDER BY year;
    """
    df_region = pd.read_sql(sql_region, conn)
    
    if len(df_region) > 0:
        print(f"\nğŸ“ {region} ì§€ì—­ ì‘ê¸‰ì°¨ëŸ‰ ë°ì´í„°")
        print(df_region)
        print(f"\n{region} ì§€ì—­ ë°ì´í„° ìˆ˜:", len(df_region))
    else:
        print(f"\nâš ï¸ {region} ì§€ì—­ì˜ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤.")

finally:
    conn.close()  # ì—°ê²° ì¢…ë£Œ

In [ ]:
# CSV íŒŒì¼ ì½ì–´ì„œ DBì— ì €ì¥í•˜ê¸°
import pandas as pd
import pymysql

# MySQL ì—°ê²°
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1111',
    db='1st',
    port=3306,
    charset='utf8'
)

try:
    cursor = conn.cursor()
    
    # í…Œì´ë¸” ìƒì„±
    create_sql = """
    CREATE TABLE emergency_car (
        idx INT AUTO_INCREMENT PRIMARY KEY,
        year YEAR NOT NULL,
        car_count INT,
        emp_count INT,
        car_local VARCHAR(50) NOT NULL
    );
    """
    # ê¸°ì¡´ í…Œì´ë¸” ì‚­ì œ í›„ ìƒˆë¡œ ìƒì„±
    cursor.execute("DROP TABLE IF EXISTS emergency_car")
    cursor.execute(create_sql)
    
    # CSV íŒŒì¼ ì½ê¸°
    df = pd.read_csv('../csv/emergency_car.csv')  # CSV íŒŒì¼ ê²½ë¡œë¥¼ ì‹¤ì œ íŒŒì¼ ìœ„ì¹˜ë¡œ ìˆ˜ì •í•´ì£¼ì„¸ìš”
    
    # DataFrameì„ ì´ìš©í•´ì„œ ë°ì´í„° ì‚½ì…
    for index, row in df.iterrows():
        sql = """
        INSERT INTO emergency_car (year, car_count, emp_count, car_local)
        VALUES (%s, %s, %s, %s)
        """
        values = (row['year'], row['car_count'], row['emp_count'], row['car_local'])
        cursor.execute(sql, values)
    
    conn.commit()
    print("CSV ë°ì´í„°ê°€ ì„±ê³µì ìœ¼ë¡œ ë°ì´í„°ë² ì´ìŠ¤ì— ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤!")

except Exception as e:
    print("ì˜¤ë¥˜ ë°œìƒ:", e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()